@model Phone

@{
    ViewBag.Title = "Добавить устройство";
    Layout = "_Layout";
}

@*<head>
    <meta charset="UTF-8">
    <title>Login Form</title>


    <link rel="stylesheet" href="css/style.css">


</head>*@


<body-form>
    <form class='login-form' asp-action="Add" method="post">
        <div class="flex-row logo">
            <h1>Добавить устройство</h1>
        </div>

        <div class="flex-row">
            <input asp-for="Name" class='lf--input' placeholder='Модель телефона' type='text'>
        </div>

        <div class="flex-row">
            <input asp-for="Company" class='lf--input' placeholder='Производитель' type='text'>
        </div>

        <div class="flex-row">
            <input asp-for="Price" class='lf--input' placeholder='Стоимость' type='text'>
        </div>

        <input class='lf--submit' type='submit' value='Добавить'>
        <a class='lf--forgot' href='#'>Вернуться на главную</a>
    </form>
</body-form>


