@{
    ViewData["Title"] = "Контакты";
}


<div class="container">
    <div class="row">
        <div class="col-2"></div>



        <div class="col-8">
            <div class="contacts">
                <h2 style="text-align:center;">Контакты</h2>
                <br>
                <div class="row-cont">
                    <p>Telegram</p>
                    <a href="https://t.me/Pe6e3"><img src="~/img/ico/telega.png" alt=""></a>
                </div>

                <div class="row-cont">
                    <p>WhatsApp</p>
                    <a href="https://wa.me/77478704750"> <img src="~/img/ico/whatsapp.png" alt=""></a>
                </div>

                <div class="row-cont">
                    <p>Instagram</p>
                    <a href="https://instagram.com/pe6e3"><img src="~/img/ico/insta.png" alt=""></a>
                </div>

                <div class="row-cont">
                    <p>Эл. почта (поправить)</p>
                    <a href="https://mailto:xpe6e3@gmail.com"><img src="~/img/ico/mail.png" alt=""></a>
                </div>

                <div class="row-cont">
                    <p>Телефон</p>
                    <a href="tel:+77478704750"> <img src="~/img/ico/mobile.png" alt=""></a>
                </div>
            </div>
        </div>




