@{
    ViewData["Title"] = "Главная";
}

<div class="container MainPage">
    <div class="row">
        <div class="col">
            <h1>Это главная страница моего сайта</h1>
            <h2>Здесь будет мое портфолио, показывающее мои навыки разработчика</h2>
            <h3>А сверху просто фотки с моих походов в горы</h3>
        </div>
    </div>
</div>