@{
    ViewBag.Title = "Мои проекты";
    Layout = "_Layout";
}

<div class="container">
    <div class="row m-4">
        <div class="col" style="margin-bottom: 5px;">

            <div class="card">
                <img src="~/Portfolio/AnimalFarm/Feed_animal.png" class="card-img-top" alt="Feed_animal">
                <div class="card-body">
                    <h5 class="card-title text-center">Игра на юнити - Ферма животных</h5>
                    <p class="card-text ">Игра, в которой нужно кормить животных, пока они пробегают по карте</p>
                    <a href="~/Portfolio/AnimalFarm/Feed Animals.mp4" class="btn btn-danger m-2 d-flex justify-content-center">Посмотреть видео</a>
                    <a href="~/Portfolio/AnimalFarm/index3.html" class="btn btn-dark m-2 d-flex justify-content-center">Поиграть в игру</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="~/Portfolio/Run-n-Jump/RunnJump.png" class="card-img-top" alt="RunNjump">

                <div class="card-body">
                    <h5 class="card-title text-center">Игра на юнити Run'n'Jump</h5>
                    <p class="card-text">Ничего особенного - с помощью клавиши Пробел нужно перепрыгивать барьеры. Попрактиковался в добавлении звуков и анимаций.</p>
                    <a href="~/Portfolio/Run-n-Jump/Run-n-Jump.mp4" class="btn btn-danger m-2 d-flex justify-content-center">Посмотреть видео</a>
                    <a href="~/Portfolio/Run-n-Jump/index2.html" class="btn btn-dark m-2 d-flex justify-content-center">Поиграть в игру</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="~/img/Mountains/mount/3.jpg" class="card-img-top" alt="заглушка">

                <div class="card-body">
                    <h5 class="card-title text-center">Третий проект</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>
                    <a href="#" class="btn btn-danger m-2 d-flex justify-content-center">Посмотреть видео</a>
                    <a href="#" class="btn btn-dark m-2 d-flex justify-content-center">Поиграть в игру</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-4">
        <div class="col">
            <div class="card">
                <img src="~/img/Mountains/mount/4.jpg" class="card-img-top" alt="заглушка">
                <div class="card-body">
                    <h5 class="card-title text-center">Четвертый проект</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>
                    <a href="#" class="btn btn-danger m-2 d-flex justify-content-center">Посмотреть видео</a>
                    <a href="#" class="btn btn-dark m-2 d-flex justify-content-center">Поиграть в игру</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="~/img/Mountains/mount/5.jpg" class="card-img-top" alt="заглушка">

                <div class="card-body">
                    <h5 class="card-title text-center">Пятый проект</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>
                    <a href="#" class="btn btn-danger m-2 d-flex justify-content-center">Посмотреть видео</a>
                    <a href="#" class="btn btn-dark m-2 d-flex justify-content-center">Поиграть в игру</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="~/img/Mountains/mount/6.jpg" class="card-img-top" alt="заглушка">

                <div class="card-body">
                    <h5 class="card-title text-center">Шестой проект</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>
                    <a href="~/Portfolio/AnimalFarm/Feed Animals.mp4 Animals.mp4" class="btn btn-danger m-2 d-flex justify-content-center">Посмотреть видео</a>
                    <a href="~/Portfolio/AnimalFarm/index3.html" class="btn btn-dark m-2 d-flex justify-content-center">Поиграть в игру</a>
                </div>
            </div>
        </div>
    </div>




